<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>Menú</header>
    <main>
        <h1>Tareas</h1>

        <h2>Crear Tarea</h2>

        <h2>Listado de Tareas</h2>

    </main>
    <footer>
        <small>Copyright 2024</small>
    </footer>
</body>
</html>